---
layout: default
title: "Blog"
page_header_image: "/assets/img/blog_page_header.jpg"
pagination:
  enabled: true
---
<main>

{% include page_header.html %}
<!-- blog-area start -->
<section class="blog-area pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              {% for post in paginator.posts %}
                <article class="postbox post format-image mb-40">
                 <h3 class="blog-title">
                            <a href="{{post.url | relative_url}}">{{post.title}}</a>
                        </h3>
                	{% if post.post_image %}
                    <div class="postbox__thumb">
                        <a href="{{post.url | relative_url}}">
                            <img class="img-fluid" src="{{ post.post_image | relative_url }}" alt="{{post.title}}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="postbox__text p-50">
                        <div class="post-meta mb-15">
                            <span><i class="far fa-calendar-check"></i>  {{post.date | date_to_long_string }}</span>
                            <span><i class="far fa-user"></i> {{post.author}}</span>
                            <span><i class="far fa-comments"></i> <a href="{{post.url | relative_url}}#disqus_thread" data-disqus-identifier="{{post.id}}">0 Comments</a></span>
                        </div>
                        <div class="post-text mb-20">
                           {{post.excerpt | strip_html | truncatewords: "45" }}
                        </div>
                        <div class="read-more mt-30">
                            <a href="{{post.url | relative_url}}" class="btn theme-btn">read more</a>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <div class="basic-pagination basic-pagination-2 mb-40">

                    {% if paginator.total_pages > 1 %}
                        <ul class="d-flex justify-content-between">
                          {% if paginator.previous_page %}
                          <li>
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-right"></i></a>
                          </li>
                          {% endif %}
                          {% if paginator.next_page %}
                          <li>
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-left"></i></a>
                          </li>
                          {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area end -->


</main>

