<section class="banner-area pt-30 box-90">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="banner-2 pos-relative mb-30">
                <a target="__blank" href="#"><img src="/assets/img/banner/banner-2/banner1.jpg" alt=""></a>
                <div class="banner-trend">
                    <span>Trendy Item</span>
                    <h2><a target="__blank" href="#">New Year Trend Coming 2019</a></h2>
                    <div class="discover-link">
                        <a target="__blank" href="#">discover</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="banner-2 pos-relative mb-30">
                <a target="__blank" href="#"><img src="/assets/img/banner/banner-2/banner2.jpg" alt=""></a>
                <div class="banner-look">
                    <span>Get the look</span>
                    <h2>Festive Looks</h2>
                    <img src="/assets/img/icon/look.png" alt="">
                    <p>Your delivery of outfit ideas, updated daily</p>
                    <a target="__blank" href="#" class="btn theme-btn">discover</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>