<!-- subscribe-area start -->
<section class="subscribe-area box-105">
    <div class="subscribe-inner black-bg pt-70 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="subscribe d-flex fix">
                        <div class="area-title white-color mb-50">
                            <h2>Jump. Throw. Run. Subscribe.</h2>
                            <p>We want to be able to tell you more. We actually want to be able to tell you everything.
                            Sign up for our e-mail so you can hear it all.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="subscribe fix">
                     <div class="subscribe-form mb-50">
                        <div id="mc_embed_signup" class="subscribe-form">
                        <form action="{{site.mailchimp_list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{site.mailchimp_input_name}}" tabindex="-1" value=""></div>
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn theme-btn">subscribe now</button>
                            </div>
                         </form>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-area end -->
<!-- footer start -->
<footer>
    <div class="footer-area box-90 pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 ">
                    <div class="footer-widget mb-40">
                        <div class="footer-logo">
                            <a href="index.html"><img src="{{ '/assets/img/nalathletics-logo.png' | relative_url }}" alt=""></a>
                        </div>
                        <p>NALathletics makes it easier to be an athlete or fan of athletics. You know, track & field. Find a
                          place to train, find people to train with there, turn those people into a team, do something useful
                          with the team. That’s it.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 d-lg-none d-xl-block">
                    <div class="footer-widget pl-50 mb-40">
                        <h3>Where to now?</h3>
                        <ul class="footer-link">
                            <li>Map (Coming soon)</li>
                            <li>Stories (Coming later)</li>
                            {% if site.instagram_url %}
                             <li><a target="__blank" href="{{site.instagram_url}}">Instagram</a></li>
                            {% endif %}
                            {% if site.Dailymotion_url %}
                            <li><a target="__blank" href="{{site.Dailymotion_url}}">Dailymotion</a></li>
                            {% endif %}
                            {% if site.youtube_url %}
                            <li><a target="__blank" href="{{site.youtube_url}}">Youtube</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 d-lg-none d-xl-block">
                    <div class="footer-widget pl-30 mb-40">
                        <h3>Contact us</h3>
                        <ul class="footer-link">
                            <li><a href="https://us04web.zoom.us/j/820113463">Athletics Avail, Thursdays at 7:30pm Central</a></li>
                            <li><a href="mailto:george.perry@austintrackclub.com">E-mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area box-105">
        <div class="container">
            <div class="copyright-border pt-30 pb-30">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright text-center text-md-left">
                            {{site.copyright_text}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-icon text-center text-md-right ">
                            {% if site.facebook_url %}
                             <a target="__blank" href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if site.twitter_url %}
                            <a target="__blank" href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if site.behance_url %}
                            <a target="__blank" href="{{site.behance_url}}"><i class="fab fa-behance"></i></a>
                            {% endif %}
                            {% if site.dribbble_url %}
                             <a target="__blank" href="{{site.dribbble_url}}"> <i class="fab fa-dribbble"></i></a>
                            {% endif %}
                            {% if site.linkedin_url %}
                            <a target="__blank" href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% if site.youtube_url %}
                            <a target="__blank" href="{{site.youtube_url}}"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
