<section class="product-area box-90 pt-70 pb-40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <div class="area-title mb-50">
                    <h2>Brand New Products</h2>
                    <p>Browse the huge variety of our products</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="product-tab mb-40">
                    <ul class="nav product-nav  justify-content-xl-end" id="myTab1" role="tablist">
                     {% for products_info in site.data.new_products %}
                        {% assign products_data = products_info.products_type_one %}
                        {% assign item = forloop.index %}
                        {% assign pro_category = products_info.product_category %}
                        {% if pro_category %}
                        <li class="nav-item">
                            <a class="nav-link {% if item == 1 %} active {% endif %}" data-toggle="tab" href="#tab-{{item}}" role="tab">
                             {{pro_category}}
                            </a>
                        </li>
                        {% endif %}
                     {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product-tab-content">
                    <div class="tab-content" id="myTabContent">

                         <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                            <div class="product-slider owl-carousel">
                            {% for products_info in site.data.new_products %}
                             {% assign item = forloop.index %}
                            {% assign products_data = products_info.products_type_1 %}
                                {% for products in products_data %}
                                  {% include products_item.html%}
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                         <div class="tab-pane fade" id="tab-2" role="tabpanel">
                            <div class="product-slider owl-carousel">
                            {% for products_info in site.data.new_products %}
                            {% assign products_data = products_info.products_type_2 %}
                                {% for products in products_data %}
                                  {% include products_item.html%}
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                         <div class="tab-pane fade" id="tab-3" role="tabpanel">
                            <div class="product-slider owl-carousel">
                            {% for products_info in site.data.new_products %}
                            {% assign products_data = products_info.products_type_3 %}
                                {% for products in products_data %}
                                  {% include products_item.html%}
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                         <div class="tab-pane fade" id="tab-4" role="tabpanel">
                            <div class="product-slider owl-carousel">
                            {% for products_info in site.data.new_products %}
                            {% assign products_data = products_info.products_type_4 %}
                                {% for products in products_data %}
                                  {% include products_item.html%}
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>