<section class="breadcrumb-area overlay" data-background="{% if page.page_header_image %} {{ page.page_header_image | relative_url}} {% else %}{{site.cover_image | relative_url }} {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    <h1 class="text-white text-capitalize">{{page.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
