<section class="banner-area pt-30 pl-15 pr-15">
    <div class="container-fluid">
        <div class="row">
          {% for promotion in site.data.promotion %}
            {% assign promo_info = promotion.promotion_info %}
            <div class="col-lg-4 col-md-6">
                <div class="banner mb-30">
                    <a href="{{promo_info.collection_url}}">
                        <img class="img-fluid" src="{{promo_info.collection_image}}" alt="{{promo_info.collection_image}}"/>
                    </a>
                </div>
            </div>
         {% endfor %}
        </div>
    </div>
</section>