<div class="widget mb-40">
    <div class="widget-title-box mb-30">
        <span class="animate-border"></span>
        <h3 class="widget-title">{{site.author.title}}</h3>
    </div>
    <div class="about-me text-center">
        <img src="{{ '/assets/img/nalathletics-logo-red.png' | relative_url }}" alt="">
        <h4>{{site.author.name}}</h4>
        <p>{{site.author.bio}}</p>
        <div class="widget-social-icon">
         {% if site.author.facebook_url %}
          <a target="__blank" href="{{site.author.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
         {% endif %}
         {% if site.author.twitter_url %}
          <a target="__blank" href="{{site.author.twitter_url}}"><i class="fab fa-twitter"></i></a>
         {% endif %}
         {% if site.author.linkedin_url %}
          <a target="__blank" href="{{site.author.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
         {% endif %}
         {% if site.author.youtube_url %}
          <a target="__blank" href="{{site.author.youtube_url}}"><i class="fab fa-youtube"></i></a>
         {% endif %}
        </div>
    </div>
</div>
<div class="widget mb-40">
    <div class="widget-title-box mb-30">
    <h3>Want to be in the starting IX?</h3>
      <form id="fs-frm" name="department-contact-form" accept-charset="utf-8" action=https://formspree.io/mvobgwvl>
  <fieldset id="fs-frm-inputs">
    <label for="full-name">FULL NAME</label>
    <input type="text" name="name" id="full-name" placeholder="First and last (or we don't respond)" required="">
    <label for="email-address">EMAIL ADDRESS</label>
    <input type="email" name="_replyto" id="email-address" placeholder="" required="">
    <label for="events">EVENT(S)</label>
    <input type="text" name="event" id="events" placeholder="e.g., Shot put, long jump, 400m" required="">
    <label for="message">WHAT SHOULD WE KNOW ABOUT YOU?</label>
    <textarea rows="5" name="message" id="message" placeholder="No, really, make us want to talk to you some more. Tell us something more interesting than your PR's." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Department Contact Form Submission">
  </fieldset>
  <input type="submit" value="Send Message">
</form><style>/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label {
  font-family: 'Brix Slab', sans-serif;
  font-size: .85em;
}

</label>
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .85em;
  margin-bottom: .5em;
  padding-top: .2em;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
</style>
</div>
</div>
<div class="widget mb-40">
    <div class="widget-title-box mb-30">
        <span class="animate-border"></span>
        <h3 class="widget-title">Popular Posts</h3>
    </div>
    <ul class="recent-posts">
        {% for posts in site.posts | limit: "5" %}
        <li>
            {% if posts.post_image %}
            <div class="widget-posts-image">
                <a href="{{posts.url | relative_url}}"><img src="{{ posts.post_image | relative_url }}" alt="{{posts.title}}"/></a>
            </div>
            {% endif %}
            <div class="widget-posts-body">
                <h6 class="widget-posts-title">
                    <a href="{{posts.url | relative_url}}">{{posts.title}}</a>
                </h6>
                <div class="widget-posts-meta">{{ posts.date | date_to_long_string }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="widget mb-40">
    <div class="widget-title-box mb-30">
        <span class="animate-border"></span>
        <h3 class="widget-title">Categories</h3>
    </div>
    <ul class="cat">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
            {% assign category_path = category | downcase | downcase | url_escape | strip | replace: ' ', '-' %}
          <li><a class="text-capitalize" href="{{ '/category/' | append: category_path | relative_url}}">{{ category | camelcase }} <span class="f-right">({{ site.tags[category].size }})</span></a></li>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
        {% assign category_path = category[0] | downcase | downcase | url_escape | strip | replace: ' ', '-' %}
          <li><a class="text-capitalize" href="{{ '/category/' | append: category_path | relative_url}}">{{ category[0] | camelcase }} <span class="f-right">({{ category[1].size }})</span></a></li>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}
</ul>
</div>

<div class="widget mb-40">
    <div class="widget-title-box mb-30">
        <span class="animate-border"></span>
        <h3 class="widget-title">Connect with us</h3>
    </div>
    {% include social_profiles.html %}
</div>

<div class="widget mb-40">
    <div class="widget-title-box mb-30">
        <span class="animate-border"></span>
        <h3 class="widget-title">Popular Tags</h3>
    </div>
    <ul class="tag">
        {% capture tags %}
          {% for tag in site.tags %}
            <li class="d-inline-block" data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
               <a class="tag_1" href="/{{ site.tag_page_dir }}/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }} <span> ({{ tag[1].size }})</span></a>
            </li>
          {% endfor %}
        {% endcapture %}
        {{ tags | split:'</li>' | sort | join:'</li>' }}
    </ul>
</div>
