<ul class="social-profile">
    {% if site.facebook_url %}
     <li class="d-inline-block"><a target="__blank" href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a></li>
    {% endif %}
    {% if site.twitter_url %}
     <li class="d-inline-block"><a target="__blank" href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a></li>
    {% endif %}
    {% if site.dribbble_url %}
     <li class="d-inline-block"><a target="__blank" href="{{site.dribbble_url}}"> <i class="fab fa-dribbble"></i></a></li>
    {% endif %}
    {% if site.linkedin_url %}
     <li class="d-inline-block"><a target="__blank" href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a></li>
    {% endif %}
    {% if site.youtube_url %}
     <li class="d-inline-block"><a target="__blank" href="{{site.youtube_url}}"><i class="fab fa-youtube"></i></a></li>
    {% endif %}
</ul>