
<!-- upcoming-product-area start -->
<section class="upcoming-product-area pos-relative box-90 pt-120 pb-120" data-background="/assets/img/bg/bg.jpg">
    <div class="upc-shape d-none d-xl-block">
        <div class="bakix-marker map-c1">
            <div class="bakix-map-icon">
                <i class="flaticon-add"></i>
            </div>
            <div class="bakix-map-address">
                <p>Lodge Flush Mount</p>
            </div>
        </div>
        <div class="bakix-marker map-c2">
            <div class="bakix-map-icon">
                <i class="flaticon-add"></i>
            </div>
            <div class="bakix-map-address">
                <p>Lodge Flush Mount</p>
            </div>
        </div>
        <div class="bakix-marker map-c3">
            <div class="bakix-map-address">
                <p>Lodge Flush Mount</p>
            </div>
            <div class="bakix-map-icon">
                <i class="flaticon-add"></i>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 offset-xl-6">
                <div class="upcoming-product">
                    <div class="upc-price">$500.00</div>
                    <h1><a href="#">Lodge Flush Mount</a></h1>
                    <ul class="upc-pro-info fix">
                        <li class="d-flex">
                            <i class="flaticon-layers"></i>
                            <div class="upc-info">
                                <h4>Origin From</h4>
                                <span>Sweden</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="flaticon-layers"></i>
                            <div class="upc-info">
                                <h4>Material</h4>
                                <span>Aluminum</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <i class="flaticon-layers"></i>
                            <div class="upc-info">
                                <h4>Designer</h4>
                                <span>Basictheme</span>
                            </div>
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                    <div class="upc-btn">
                        <a class="btn theme-btn" href="shop.html" data-animation="fadeInLeft" data-delay=".7s">shop now</a>
                        <a class="btn white-btn" href="shop.html" data-animation="fadeInRight" data-delay=".9s">Details</a>
                    </div>
                    <div class="event-timer">
                        <div class="mt-40" data-countdown="2022/04/01"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming-product-area end -->