---
layout: default
pagination:
  enabled: true
---

<main>
{% include page_header.html %}
<section class="blog-area mt-5">
    <div class="container-fluid">
        <div class="row blog-masonry m-0">
           {% for post in page.posts %}
            <div class="col-lg-4 col-md-6 grid-item">
                <article class="postbox post format-image mb-40">
                    {% if post.post_image %}
                    <div class="postbox__thumb">
                        <a href="{{post.url | relative_url }}">
                            <img class="img-fluid" src="{{post.post_image | relative_url }}" alt="{{post.title}}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="postbox__text p-30">
                        <h3 class="blog-title blog-title-sm">
                            <a href="{{post.url | relative_url }}">{{post.title}}</a>
                        </h3>
                        <div class="post-text">
                          <p>{{post.excerpt | strip_html | truncatewords: "20" }}</p>
                        </div>
                        <div class="read-more">
                            <a href="{{post.url | relative_url }}" class="read-more">read more <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</main>
