<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}}</title>
        <meta name="description" content="{{site.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.png' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.min.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/meanmenu.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/slick.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}">
        {% for script in page.head_javascript %}
        <script src="{{ script | relative_url }}"></script>
        {% endfor %}
        {% for css in page.head_stylesheet %}
        <link href="{{ css | relative_url }}" rel="stylesheet" type="text/css"/>
        {% endfor %}
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- preloader end  -->
        {% include header.html %}
        {{content}}
        {% include footer.html %}
        <!-- Fullscreen search -->
        <div class="search-wrap">
            <div class="search-inner">
                <i class="fas fa-times search-close" id="search-close"></i>
                <div class="search-cell">
                    <form method="get">
                        <div class="search-field-holder">
                            <input type="text" class="main-search-input" id="search-input" placeholder="Search blog posts..">
                        </div>
                    </form>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 mx-auto">
                                <div class="search-wrapper">
                                    <ul id="results-container"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end fullscreen search -->
		<!-- JS here -->
        <script src="{{ '/assets/js/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/one-page-nav-min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/slick.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/jquery.meanmenu.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/ajax-form.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/jquery.scrollUp.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/simple-jekyll-search.min.js' | relative_url }}"></script>
        <script id="dsq-count-scr" src="//vue-netlify-com.disqus.com/count.js" async></script>
        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
