---
layout: default
---

<main>
<!-- breadcrumb-area-start -->
<section class="breadcrumb-area overlay" data-background="{{site.post_cover_image}}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    {% if page.post_title %}
                    <h1 class="mb-0 text-white">{{page.post_title}}</h1>
                    {% else %}
                     <h1 class="mb-0 text-white">{{page.title}}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- blog-area start -->
<div class="blog-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <article class="postbox post format-image mb-40">
                    {% if page.post_image %}
                    <div class="postbox__thumb mb-35">
                        <img class="img-fluid" src="{{page.post_image}}" alt="{{page.title}}/">
                    </div>
                    {% endif %}
                    <div class="postbox__text bg-none">
                        <div class="post-text mb-20">
                          {{page.content}}
                        </div>
                        <div class="row mt-50">
                            <div class="col-xl-8 col-lg-8 col-md-8 mb-15">
                                <div class="blog-post-tag">
                                 {% if page.tags %}
                                    <span>Releted Tags</span>
                                    {{page | tags | capitalize | replace: ",","  "}}
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 mb-15">
                                <div class="blog-share-icon text-left text-md-right">
                                    <span>Share: </span>
                                    {% include social_share.html %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="navigation-border pt-50 mt-40"></div>
                            </div>
                            <div class="col-6">
                                <div class="bakix-navigation b-next-post text-left mb-30">
                                  {% if page.previous.url %}
                                    <span><a href="{{page.previous.url}}">Prev Post</a></span>
                                  {% endif %}
                                  {% if page.previous.title %}
                                    <h4><a href="{{page.previous.url}}">{{page.previous.title | replace: "_", " " }}</a></h4>
                                  {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bakix-navigation b-next-post text-left text-md-right  mb-30">
                                    {% if page.next.url %}
                                     <span><a href="{{page.next.url}}">Next Post</a></span>
                                    {% endif %}
                                    {% if page.next.title %}
                                     <h4><a href="{{page.next.url}}">{{page.next.title | replace: "_", " " }}</a></h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="post-comments">
                      {% include disqus_comments.html %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
</main>
